body{
	margin:0;
   padding: 0;
}
html: {
	font-size: 10px;
}
.header{
	color: #000;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font: 'Arial' , sans-serif;
	width: 100%;
	background: url(../img/back.png) no-repeat center top / cover  ;
	height:900px;
	position: relative;
}
.main{
	display: flex;
	width: 90%;
	display:inline-flex;
    align-items: center;
     height: 15vh;
   border: 2px solid red;
}
li {
list-style-type: none;
}
.menu {
	display: flex;
}
.menu li {
	display: inline-block;
    list-style: none;
}
.menu a{
	text-decoration: none;
	color: #000;
}
.menu1 span {
	background: #000; 
	display: block;
	width: 42px;
	height: 3px;
	margin-bottom: 3px;
}
.menu1 span:nth-child(1){
width: 34px;
}
.menu1 span:nth-child(2){
width: 34px;
}
.menu2{
	padding-top: 2em;
}
.menu2 li{
	padding-left: 4em;
}
.menu2 a:hover{
color: #2B6CC4 ;
}
.menu2 li a{
font-size: 1rem;
transition: color 1s linear;
}
.menu3 img{
width: 200px;
padding-left: 8em;
}
.menu4{
	padding-top: 2em;
}
.menu4 li{
	padding-left: 4em;
}
.menu4 a:hover{
color: #2B6CC4 ;
}
.menu4 li a{
font-size: 1rem;
transition: color 1s linear;
}
.btn{
background: none;
padding: 5px;
border: 2px solid black;
color: #000;
text-decoration: none;
font-size: 1rem;
transition:  color 1s linear;
}
.btn:hover{
color: #FFA500;
}
.part2{
display: flex;
background: url(../img/grad.png) center no-repeat;
height: 650px;
width: 100%;
margin-top: -450px;
position: relative;
z-index: 1;
}
.part2 h2{

}
.part3{
	display: flex;
background: url(../img/back3.png) center no-repeat;
height: 762px;
width: 100%;
margin-top: -202px;
position: relative;
z-index: -1;
}
.textpart3{
	display: flex;
	justify-content: center;
	flex-direction: column;
text-shadow: 1px 5px 5px black;
font-size: 4rem;
   align-items: center;
   }