body{
	font: Arial , sans-serif; 
	padding: 0;
	margin: 0;
}
header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: url(../img/фон2.jpg) no-repeat center top / cover  ;
	height:800px;
}
.container{
	width: 1340px;
	margin: 0 auto;
}
.head{
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 30px;
}

.menu{
	float: left;
}
.menu span {
	background: #000; 
	display: block;
	width: 46px;
	height: 4px;
	margin-bottom: 3px;
}
.menu span:nth-child(1){
width: 38px;
}
.menu span:nth-child(2){
width: 38px;
}

li {
  list-style-type: none;
  
}
.menu2{
	display: inline-block;
	vertical-align: top;
}
.menu2:hover{
color: #ffff	;
}
.menu2 li{
margin-left: 40px;
display: inline;
}
.menu2 li a{
	color: #000;
	text-decoration: none;
	font-size: 16px
}
.menu3 img{
width: 200px;

}
.menu4{
	float: right;
}
.menu4 li{
display: inline;
margin-left: 40px;

}
.menu4 li a{
	color: #000;
	text-decoration: none;
	font-size: 16px
}
