body{
margin:0;
padding: 0;
}
html: {
font-size: 10px;
}
.back{
position: relative;
width: 100%;
background: url(../img/back.png) no-repeat center top / cover ;
height:900px;
}
.header{
color: #000;
display: flex;
justify-content: center;
font: 'Arial' , sans-serif;
}
.main{
display:inline-flex;
height: 20%;
position: relative;
margin-left: -9rem
}
li {
list-style-type: none;
}
.menu {
display: flex;
}
.menu li {
display: inline-block;
list-style: none;
}
.menu a{
text-decoration: none;
color: #000;
}
.menu1{
position: absolute;
padding-top: 2rem;
}
.menu1 span {
background: #000;
display: block;
width: 42px;
height: 3px;
margin-bottom: 3px;
}
.menu1 span:nth-child(1){
width: 34px;
}
.menu1 span:nth-child(2){
width: 34px;
}
.menu2{
padding-top: 2rem;
}
.menu2 li{
padding-left: 4rem
}
.menu2 a:hover{
color: #2B6CC4 ;
}
.menu2 li a{
font-size: 1rem;
transition: color 1s linear;
}
.menu3 img{
width: 200px;
padding-top: 0;
margin-left: 3rem
}
.menu4{
margin-left: -2rem;
padding-top: 2rem;
}
.menu4 li{
padding-left: 2.6rem
}
.menu4 a:hover{
color: #2B6CC4 ;
}
.menu4 li a{
font-size: 1rem;
transition: color 1s linear;
}
.book{
margin-left: 2rem
}
.btn{
background: none;
padding: 5px;
border: 2px solid black;
color: #000;
text-decoration: none;
font-size: 1rem;
transition: color 1s linear;
}
.btn:hover{
color: #FFA500;
}
.name{
text-align: center;
position: relative;
z-index: 2;
color: black;
font-size: 7rem;
letter-spacing: 0.3em;
text-shadow: 0.2rem 0.4rem 0.4rem black;
padding-top: 25rem;
}
.gradtxt{
text-align: center;
position: relative;
z-index: 2;
margin-top: 5rem
}
.gradtxt1{
text-align: center;
position: relative;
z-index: 2;
margin-top: 7rem
}
.moreinf{
position: relative;
z-index: 2;
text-align: center;
margin-top: 5em
}
.part2{
background: url(../img/grad.png) center no-repeat;
height: 650px;
width: 100%;
position: absolute;
z-index: 1;
margin-top: -37rem;
}
.part2 div:nth-child(1){
padding-top: 40%;
padding-left: 10px;
}
.part3{
position: relative;
background-color: black;
text-align: center;
background:url(../img/back2.png) center no-repeat;
width: 100%;
height: 900px;
}
.tex3{
padding-top: 15%;
font-size: 4rem;
text-shadow: 0.1rem 0.2rem 0.2rem black;
}
.tex31 {
padding-top: 3%;
font-size: 1.5rem;
}
.tex32{
padding-top: 6%;
font-size: 1rem;
line-height:1.5em;
}
.tex33{
padding-top: 6%;
font-size: 1.7rem;
}
.play{
padding-top: 7%;
}
.play img{
transition: transform 1s;
}
.play img:hover{
transform: scale(1.3)}
.blockice{
background: url(../img/ice.png) no-repeat;
position: relative;
height: 800px;
width: 50%;
}
.selectedtoure{
padding-top: 14%;
font-size: 2.5rem;
text-align: center;
}
.icetxt1{
padding-top:2%;
text-align: center;
}
.grad2{
position: relative;
z-index: 4;
width: 55%;
padding-left: 22%;
padding-top: 4rem;
}
.grid{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 10rem);
}

.grid div:nth-child(1){
border-right: 1px solid black;
}
.grid div h2:nth-child(1){
font-family: 'Big Shoulders Text', cursive;
position: absolute;
font-size: 3.2rem;
padding-left: 2rem;
}

.txt1{
font-family: 'Big Shoulders Text', cursive;
font-size: 1rem;
padding-top: 2rem;
padding-left: 4rem;
}
.txt12{
font-size: 1rem;
padding-left: 4rem;
}
.txt2{
font-family: 'Big Shoulders Text', cursive;
font-size: 1rem;
padding-top: 2rem;
padding-left: 4rem;
}
.txt22{
font-size: 1rem;
padding-left: 4rem;
}
.txt3{
font-family: 'Big Shoulders Text', cursive;
font-size: 1rem;
padding-top: 2rem;
padding-left: 4rem;
}
.txt32{
font-size: 1rem;
padding-left: 4rem;
}
.txt4{
font-family: 'Big Shoulders Text', cursive;
font-size: 1rem;
padding-top: 2rem;
padding-left: 4rem;
}
.txt42{
font-size: 1rem;
padding-left: 4rem;
}
.grid div:nth-child(2){

}
.grid div:nth-child(3){
border-top: 1px solid black;
border-right: 1px solid black;
}
.grid div:nth-child(4){
border-top: 1px solid black
}
.grid div:nth-child(5){
grid-column: 1 / -1;
border-top: 1px solid black;
text-align: center;
}
.item5 {
font-family: 'Big Shoulders Text', cursive;
font-size: 2.4rem;
}

.grid div:nth-child(6){
border-top: 1px solid black;
grid-row: 4;
grid-column: 1 / -1;
}
.item6{
text-align: center;
padding-top: 2rem;
line-height:1.5em;
}
.item6txt{
font-size: 0.8rem;
padding-left: 3rem;
}
.border{
position: absolute;
margin-left: 1.7rem;
border: solid black;
height: 23px;
width: 13px;
}
.item a{
text-decoration: none;
color: black;
}
.item{
transition: transform 1s;
}
.item:hover{
transform: scale(1.1);
background-color: white;
}
.item h2:hover{
color: #800080;
}
.item5:hover{
color: #800080;
}
.grid {
background: url(../img/grad2.png) no-repeat;
}
.mapbaikal{
position: relative;
margin-left: 50%;
background: url(../img/back3.png) no-repeat;
height:800px;
margin-top: -800px
}
.partmap{
text-align: center;
}
.explore{
letter-spacing: 0.1em;
font-family: 'Dosis', sans-serif;
padding-top: 14%;
font-size: 3rem;
}
.exploretxt{
padding-top: 1rem;
}
.yarki img{
padding-top: 3rem;
padding-left: 4rem;
position: absolute;
height: 150px;
}
.Yarkiname{
font-size: 1.5rem;
position: absolute;
padding-top: 13rem;
padding-left: 4.8rem;
}
.btnlearn {
padding-top: 15.4rem;
padding-left: 5rem;
}
.btnlearn a{
padding: 5px;
background-color: none;
text-decoration: none;
color: black;
border-bottom: 2px solid black;
border-left: 2px solid black;
border-right: 2px solid black;
}

.btnlearn a:hover:{
color: white;
}

.radius1{
width: 13px;
height: 13px;
border-radius: 7px;
background: white;
position: absolute;
margin-left: 20rem;
}
.radius2{
width: 13px;
height: 13px;
border-radius: 7px;
background: white;
position: absolute;
margin-left: 20rem;.
}
.radius3{
width: 13px;
height: 13px;
border-radius: 7px;
background: white;
position: absolute;
margin-left: 20rem;}
.radius4{
width: 13px;
height: 13px;
border-radius: 7px;
background: white;
position: absolute;
margin-left: 20rem;}
.radius5{
width: 13px;
height: 13px;
border-radius: 7px;
background: white;
position: absolute;
margin-left: 20rem;}
.radius6{
width: 13px;
height: 13px;
border-radius: 7px;
background: white;
position: absolute;
margin-left: 20rem;}
.radius7{
width: 13px;
height: 13px;
border-radius: 7px;
background: white;
position: absolute;
margin-left: 20rem;}
.radius8{
width: 13px;
height: 13px;
border-radius: 7px;
background: white;
position: absolute;
margin-left: 20rem;}
.radius9{
width: 13px;
height: 13px;
 
border-radius: 7px;
background: white;
position: absolute;
margin-left: 20rem;}
.radius10{
width: 13px;
height: 13px;
border-radius: 7px;
background: white;
position: absolute;
margin-left: 20rem;}
.radius11{
width: 13px;
height: 13px;
border-radius: 7px;
background: white;
position: absolute;
margin-left: 4rem;}
.radius12{
width: 13px;
height: 13px;
border-radius: 7px;
background: white;
position: absolute;
margin-left: 2rem;}
.radius13{
width: 13px;
height: 13px;
border-radius: 7px;
background: white;
position: absolute;
margin-left: 20rem;}
.radius14{
width: 13px;
height: 13px;
border-radius: 7px;
background: white;
position: absolute;
margin-left: 1rem;
